* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Utility classes */
.d-flex {
    display: flex;
}
.flex-wrap {
    flex-wrap: wrap;
}
.h-100 {
  height: 100px !important;
}
.h-250 {
  height: 250px !important;
}
.h-300 {
  height: 300px !important;
}
.h-700 {
  height: 700px !important;
}
.h-400 {
  height: 400px;
}
.mb-0{
  margin-bottom: 0px !important;
}
.mb-25{
  margin-bottom: 25px !important;
}
.mb-50{
  margin-bottom: 50px !important;
}
.pb-50{
  padding-bottom: 50px !important;
}
.mt-150 {
  margin-top: 150px;
}
.mt-100 {
  margin-top: 100px;
}
.mt-50 {
  margin-top: 50px;
}
.mt-25 {
  margin-top: 25px;
}
.c-white {
  color: white !important;
}
.f-bold {
  font-weight: bold;
}
.ml-auto {
  margin-left: auto !important;
}
.mr-auto {
  margin-left: auto !important;
}
.m-15 {
  margin: 15px 30px 15px 0 !important;
}
.bg-white {
  background: white !important;
}
.text-center {
  text-align: center;
}
.text-right {
  text-align: right;
}
.uppercase {
  text-transform: uppercase;
}
/* Utility classes */

body {
  background-color: #333;
  color: white;
  font-family: gotham, sans-serif;
  font-weight: bold;
}
.wrapper {
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

#site-content{
  height: calc(100% - 60px);
}
aside.main-menu {
  min-width: 15%;
  background-color: black;
  z-index: 101;
  position: relative;
}

.covers-section {
  background-color: #141922;
  padding: 20px;;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 60px;
  width: calc(100% - 15%);
}
.subscribe-banner {
  position: fixed;
  top: 0;
  right: 0;
  width: calc(100% - 15%);
  height: 100px;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
}
.p-over {
  margin-top: 5px;
  font-size: 15px;
  color: gray;
  font-weight: bold;
}
/* sidebar */
.logo {
  max-width: 170px;
  margin: 20px 10px 10px 10px;
}
.logo-small {
  max-width: 50px;
  margin: 20px 10px 10px 10px;
  display: none;
}
.home {
  position: relative;
}
.home img {
  max-width: 50px;
  margin: 20px 10px 10px 10px;
}
.home span {
  position: absolute;
  top: 50%;
  color: white;
}
.search {
  position: relative;
}
.search img {
  max-width: 50px;
  margin: 20px 10px 10px 10px;
}
.search span {
  position: absolute;
  top: 50%;
  color: gray;
}
.libreria {
  position: relative;
}
.libreria img {
  max-width: 50px;
  margin: 20px 10px 10px 10px;
}
.libreria span {
  position: absolute;
  top: 50%;
  color: gray;
}
.playlist {
  margin: 20px 10px 10px 10px;
}
.crea-playlist {
  position: relative;
}
.crea-playlist i {
  color: gray;
  font-size: 3em;
  margin-top: 10px;
}
.crea-playlist span {
  position: absolute;
  top: 50%;
  margin-left: 20px;
  color: gray;
}
.list-playlist p {
  color: gray;
  margin-top: 15px;
}
.list-playlist a {
  text-decoration: none;
}
.bot-side {
  margin: 20px 10px 10px 10px;
  position: absolute;
  bottom: 0;
  width: 90%;
  overflow-y: hidden;
}
.bot-side img {
  max-width: 25px;
}
.installa {
  position: relative;
  border-bottom: 1px solid gray;
  width: 90%;
  margin-bottom: 10px;
}
.installa span {
  position: absolute;
  bottom: 20%;
  margin-left: 20px;
  color: gray;
}
.profile-side {
  position: relative;
}
.profile-side span {
  position: absolute;
  top: 20%;
  margin-left: 20px;
  color: white;
}
.home img:hover {
  border-left: 2px solid yellowgreen;
}
.search img:hover {
  border-left: 2px solid yellowgreen;
}
.libreria img:hover {
  border-left: 2px solid yellowgreen;
}
/* /sidebar */

/* subscribe */
.btn-top {
  border: 1px solid white;
  width: 300px;
  border-radius: 20px;
  padding: 10px 10px;
  position: absolute;
  right: 20px;
  top: 30%;
}
.btn-top a {
  text-decoration: none;
  color: white;
}
.btn-top:hover {
background-color: yellowgreen;
}
/* /subscribe */

/* Nav-top */
#nav a {
  text-decoration:none;
  color: gray;
  font-size: 15px;
}
#nav a:hover {
  width: 30px;
  border-bottom:1px solid yellowgreen;
}
/* /Nav-top */

/* Covers section */
.item {
  display: flex;
  flex-direction: column;
}
.item-img {
  position: relative;
}
.d-flex.flex-wrap img {
  width: 200px;
  height: auto;
  display: block;
  position: relative;
}
.d-flex.flex-wrap h1 {
  width: 200px;
  font-size: 20px;
  margin-top: 10px;
}
.d-flex.flex-wrap p {
 text-align: center;
 margin-top: 10px;
 font: 15px;
 color: gray;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  cursor: pointer;
}
.text {
  color: white;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}
.item-img:hover .overlay {
  opacity: 0.7;
}
/* /Covers section */
#popular img {
  border-radius: 50%;
}
#popular .overlay {
  border-radius: 50%;
}
#created-for h1 {
  width: 200px;
  font-size: 20px;
}
#created-for p {
 text-align: center;
 margin-top: 10px;
 font: 15px;
 color: gray;
}
/* Covers section */
/* Covers section */

/* Footer */
footer#site-footer {
    background-color: yellowgreen;
    height: 60px;
    z-index: 101
}

@media screen and (max-width: 600px) {
  .logo {
    display: none;
  }
  .logo-small {
    display: block;
  }
  aside span {
    display: none;
  }
  aside h1 {
    display: none;
  }
  aside p {
    display: none;
  }
  .btn-top {
    padding: 5px 5px;
    width: 250px;
  }
  .installa {
    border-bottom: 1px solid black;
  }
}
@media screen and (max-width: 768px) {
  aside {
    font-size: 10px;
  }
}
